*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1;
  color: #484848;
  background-color: #fdfdfd;
  overflow-x: hidden;
}

.container {
  max-width: 120rem;
  margin: 0 auto;
  padding: 4.8rem 2.4rem 9.6rem;
}

.grid {
  display: grid;
}

.grid-2-cols {
  grid-template-columns: 1fr 1fr;
}

.grid-3-cols {
  grid-template-columns: repeat(3, 1fr);
}

.grid-4-cols {
  grid-template-columns: repeat(4, 1fr);
}

.btn {
  border: none;
  background: none;
  font-family: Roboto;
  cursor: pointer;
}

.img {
  width: 100%;
}

.secondary-heading {
  font-size: 4rem;
  line-height: 1.2;
  margin-bottom: 2.4rem;
}

.subheading {
  font-size: 1.6rem;
  font-weight: 700;
  color: #ff9f0d;
  margin-bottom: 1.2rem;
}

.text-center {
  text-align: center;
}
